<!DOCTYPE html>
<html>
<style>
body {
  background-image: url('https://cdn.diabetesselfmanagement.com/2018/01/campbell012318.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
<body><center>
<span style='font-size:100px;'>&#128522;</span></center>
<br><br><br>
<h1 style="color:deeppink;text-align:center;font-size:250%;font-family:Algerian;">!! you have no diabetes !!</h2>
  
</body>
</html>
